<app-header title="Detalle Paciente"></app-header>

<ion-content *ngIf="pacienteDTOs">
    <h3 class="ion-text-center"></h3>
       <ion-list *ngFor ="let paciente of pacienteDTOs" lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">Nombres y apellidos:</ion-label>
          <p >{{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}</p>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tipo identificación:</ion-label>
            <p >{{paciente.tipoDocumento}}</p>
          </ion-item>
        <ion-item>
            <ion-label position="floating">Número identificación:</ion-label>
            <p >{{paciente.numeroIdentificacionP}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Fecha nacimiento:</ion-label>
            <p >{{paciente.fechaNacimiento.split('T')[0]}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Dirección:</ion-label>
            <p >{{paciente.direccion}}</p>
          </ion-item>
          <ion-item>    
            <ion-label position="floating">Teléfono:</ion-label>
            <p >{{paciente.telefono}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Género:</ion-label>
            <p >{{paciente.nombreGenero}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Tipo discapacidad:</ion-label>
            <p >{{paciente.nombreCategoria}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Grupo sanguíneo:</ion-label>
            <p >{{paciente.nombreGrupo}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Estado:</ion-label>
            <p >{{paciente.descripcionEstadoPaciente}}</p>
          </ion-item>
      </ion-list>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


</ion-content>
