<app-header title="Registrar Paciente"></app-header>

<ion-content>
  <h3 class="ion-text-center"></h3>
  <div class="centrado">
    <ion-icon name="person-circle-outline" style="zoom:6.0;" ></ion-icon>
  </div>
    <h3 class="ion-text-center"></h3>
  <h3 class="ion-text-center"></h3>
  <form #f="ngForm" (ngSubmit)="crear()" novalidate>
    <ion-list lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombres:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input required type="text" name="nombre" [(ngModel)]="nombrePaciente"></ion-input>
        <ion-icon slot="end" name="mic-circle-outline" (click)="nombresListening()" style="zoom:1;"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Apellidos:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input  required type="text" name="apellido" [(ngModel)]="apellidoPaciente"></ion-input>
        <ion-icon slot="end" name="mic-circle-outline" (click)="apellidosListening()" style="zoom:1;"></ion-icon>
      </ion-item>

    <ion-item>  
      <ion-label position="floating">Tipo identificación:<ion-text color="danger">*</ion-text></ion-label>
    <ion-select name="identificacionP" interface="popover" [(ngModel)]="idTipoDoc" >
      <ion-select-option  [value]="documentos.id" *ngFor="let documentos of tipoDocumentos">{{documentos.descripcionDocumento}}</ion-select-option >
    </ion-select>
  </ion-item>

      <ion-item>
        <ion-label position="floating">Número identificación:<ion-text color="danger">*</ion-text></ion-label>
        <ion-input  required type="number" name="Identificacion" [(ngModel)]="numeroIdentificacion"></ion-input>
        <ion-icon slot="end" name="mic-circle-outline" (click)="numIdentificacionListening()" style="zoom:1;"></ion-icon>
      </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha nacimiento:<ion-text color="danger">*</ion-text></ion-label>
          &nbsp;
          <ion-input required type="date" dateFormat="DDD DD MMM, YYYY" name="Nacimiento" [(ngModel)]="fechaNacimiento"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Dirección:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="direccionP" [(ngModel)]="direccion"></ion-input>
          <ion-icon slot="end" name="mic-circle-outline" (click)="direccionListening()" style="zoom:1;"></ion-icon>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Teléfono:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="number" name="telefonoP" [(ngModel)]="telefono"></ion-input>
          <ion-icon slot="end" name="mic-circle-outline" (click)="telefonoListening()" style="zoom:1;"></ion-icon>
        </ion-item>
        
        <ion-item>  
          <ion-label position="floating">Género:<ion-text color="danger">*</ion-text></ion-label>
        <ion-select name="generoP" interface="popover" [(ngModel)]="idGenero" >
          <ion-select-option  [value]="genero.id" *ngFor="let genero of generos">{{genero.nombreGenero}}</ion-select-option >
        </ion-select>
      </ion-item>

      <ion-item>  
        <ion-label position="floating">Tipo discapacidad:<ion-text color="danger">*</ion-text></ion-label>
      <ion-select name="discapacidadP" interface="popover" [(ngModel)]="idDiscapacidad" >
        <ion-select-option  [value]="discapacidad.id" *ngFor="let discapacidad of discapacidades">{{discapacidad.nombreDiscapacidad}}</ion-select-option >
      </ion-select>
    </ion-item>

    <ion-item>  
      <ion-label position="floating">Grupo sanguineo:<ion-text color="danger">*</ion-text></ion-label>
    <ion-select name="grupoP" interface="popover" [(ngModel)]="idGrupo" >
      <ion-select-option  [value]="grupo.id" *ngFor="let grupo of grupoSanguineo">{{grupo.nombreGrupo}}</ion-select-option >
    </ion-select>
  </ion-item>

    <div class="ion-padding">
      <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
       <ion-icon name="person-add" slot="icon-only"></ion-icon>
           Ingresar Paciente
      </ion-button>
    </div>
    </ion-list>
  </form>
  <div class="ion-text-center">
      <ion-label position="floating">
          <ion-text color="danger">*</ion-text>campos obligatorios</ion-label>
  </div>
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
</ion-content>
