<app-header title="Detalle Nota Enfermeria"></app-header>

<ion-content *ngIf="NotaEnfermeriaDTOs">
  <ion-card>
  <h3 class="ion-text-center"></h3>
     <ion-list *ngFor ="let notaEnfermeria of NotaEnfermeriaDTOs" lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombres y apellidos paciente:</ion-label>
        <p>{{notaEnfermeria.nombrePaciente}} {{notaEnfermeria.apellidoPaciente}}</p>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Número documento paciente:</ion-label>
          <p>{{notaEnfermeria.documentoPaciente}}</p>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Número cuarto:</ion-label>
          <p>{{notaEnfermeria.numeroCuarto}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número cama:</ion-label>
          <p>{{notaEnfermeria.numeroCama}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha nota:</ion-label>
          <p>{{notaEnfermeria.fechaNota.split('T')[0]}}</p>
        </ion-item>
        <ion-item>    
          <ion-label position="floating">Hora nota:</ion-label>
          <p>{{notaEnfermeria.horaNota}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Observación:</ion-label>
          <br><ion-textarea>{{notaEnfermeria.observacion}}</ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tension arterial:</ion-label>
          <p>{{notaEnfermeria.tensionArterial}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Frecuencia cardiaca:</ion-label>
          <p>{{notaEnfermeria.frecuenciaCardiaca}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Frecuencia respiratoria:</ion-label>
          <p>{{notaEnfermeria.frecuenciaRespiratoria}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Temperatura:</ion-label>
          <p>{{notaEnfermeria.temperatura}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Saturacion:</ion-label>
          <p>{{notaEnfermeria.saturacion}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Glucometria:</ion-label>
          <p>{{notaEnfermeria.glucometria}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Enfermero(a):</ion-label>
          <p>{{notaEnfermeria.nombreEnfermera}} {{notaEnfermeria.apellidoEnfermera}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número documento enfermero(a):</ion-label>
          <p>{{notaEnfermeria.documentoEnfermera}}</p>
        </ion-item>
    </ion-list>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

</ion-card> 
</ion-content>
