
<app-header title="Editar Nota De Enfermeria"></app-header>
<ion-content>
    <h3 class="ion-text-center"></h3>
    <form #f="ngForm" (ngSubmit)="actualizarNotaTerapia()" novalidate>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-card>    
          <ion-card-content>   
            <ion-item>
              <ion-label *ngFor="let paciente of pacienteDTO">
                Documento paciente: {{paciente.numeroIdentificacionP}}</ion-label>
            </ion-item> 
              <ion-item>
                <ion-label *ngFor="let paciente of pacienteDTO" name="labelNombres">Nombres y apellidos del paciente: 
                  <p><b>{{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}</b></p></ion-label>
              </ion-item>        
            <ion-item>
              <ion-label position="floating">Número cama:<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="number" name="numCama" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.numeroCama"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Número cuarto:<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="number" name="numCuarto" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.numeroCuarto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fecha:<ion-text color="danger">*</ion-text></ion-label>
              &nbsp;
              <ion-input required type="date" name="fechaNota" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.fechaNota.split('T')[0]"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Hora:<ion-text color="danger">*</ion-text></ion-label>
              &nbsp;
            <ion-input required type="time" name="horaNota" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.horaNota"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Observación:</ion-label>
              <ion-textarea placeholder="voz a texto" name="observacionNota" col="30" rows="10" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.observacion"></ion-textarea>
            </ion-item>
            <ion-card>    
              <ion-card-header>
                <ion-card-subtitle>Signos vitales:</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label position="floating">Tensión arterial sistólico:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="Mm/Hg" required type="number" name="tensionSistolico" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.tensionArterialSistolico"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Tensión arterial diastólico:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="Mm/Hg" required type="number" name="tensionDiastolico" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.tensionArterialDiastolico"></ion-input>
                </ion-item>     
                <ion-item>
                  <ion-label *ngFor="let nota of notaEnfermeriaDTO">
                    Tension: {{nota.tensionArterial}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Frecuencia cardiaca:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="x min" required type="number" name="frecuenciaCardiaca" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.frecuenciaCardiaca"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Frecuencia respiratoria:<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input placeholder="x min" required type="number" name="frecuenciaRespiratoria" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.frecuenciaRespiratoria"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Temperatura:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="T" required type="number" name="temperatura" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.temperatura"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Saturación:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="%" required type="number" name="saturacion" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.saturacion"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Glucometría:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="mg/dl" required type="number" name="glucometria" *ngFor="let nota of notaEnfermeriaDTO" [(ngModel)]="nota.glucometria"></ion-input>
                </ion-item> 
              </ion-card-content>
            </ion-card>  
            <ion-item>
              <ion-label *ngFor="let enfermera of enfermeraDTO" >Enfermero(a):
                <p><b>{{enfermera.nombre}} {{enfermera.apellido}}</b></p></ion-label>
            </ion-item>                 
            <div class="ion-padding">
              <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
                  <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
                  Actualizar Nota De Enfermería
                  </ion-button>
            </div>
            <div class="ion-text-center">
              <ion-label position="floating">
                  <ion-text color="danger">*</ion-text>campos obligatorios
              </ion-label>
          </div>
          </ion-card-content>
        </ion-card>      
      </ion-list>
    </form>
</ion-content>

