<app-header title="Login"></app-header>

<ion-content>
    <h3 class="ion-text-center">INGRESAR</h3>
    <form #f="ngForm" (ngSubmit)="onLogin()" novalidate>
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-text>
          <ion-label position="floating">Correo:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="text" name="correo" [(ngModel)]="this.correo" ></ion-input>
        </ion-text>
        <ion-text>
          <ion-label position="floating">Contraseña:<ion-text color="danger">*</ion-text></ion-label>
          <ion-input required type="password" name="password" [(ngModel)]="this.password"></ion-input>
        </ion-text>
        <div class="ion-padding">
          <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
              <ion-icon name="log-in" slot="icon-only"></ion-icon>
              Iniciar Sesión
          </ion-button>
        </div>
      </ion-list>
    </form>
    <div class="ion-text-center ion-padding">
        <ion-button color="tertiary" expand="block" class="ion-no-margin" routerLink="/registro">
            <ion-icon name="person-add" slot="icon-only"></ion-icon>
            Crear Cuenta
        </ion-button>
    </div>
    <div class="ion-text-center">
        <ion-label position="floating">
            <ion-text color="danger">*</ion-text>campos obligatorios
        </ion-label>
    </div>
</ion-content>
