<app-header title="Detalle Terapia"></app-header>

<ion-content *ngIf="notaTerapiaDTOs">
  <h3 class="ion-text-center"></h3>
     <ion-list *ngFor ="let notaTerapia of notaTerapiaDTOs" lines="full" class="ion-no-margin ion-no-padding">
      <ion-item>
        <ion-label position="floating">Nombres y apellidos paciente:</ion-label>
        <p>{{notaTerapia.nombrePacienteTerapia}} {{notaTerapia.apellidoPacienteTerapia}}</p>
      </ion-item>
      <ion-item>
          <ion-label position="floating">Número documento paciente:</ion-label>
          <p>{{notaTerapia.documentoPaciente}}</p>
        </ion-item>
      <ion-item>
          <ion-label position="floating">Objetivo:</ion-label>
          <br>
          <ion-textarea>{{notaTerapia.objetivo}}</ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Estructura corporal:</ion-label>
          <p>{{notaTerapia.estructuraCorporal}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Funcion corporal:</ion-label>
          <p>{{notaTerapia.funcionCorporal}}</p>
        </ion-item>
        <ion-item>    
          <ion-label position="floating">Pronostico:</ion-label>
          <br>
          <ion-textarea>{{notaTerapia.pronostico}}</ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Plan trabajo:</ion-label>
          <br>
          <ion-textarea>{{notaTerapia.planTrabajo}}</ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Fecha nota terapia:</ion-label>
          <p>{{notaTerapia.fechaNotaTerapia.split('T')[0]}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Hora nota terapia:</ion-label>
          <p>{{notaTerapia.horaNotaTerapia}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Observacion:</ion-label>
          <br>
          <ion-textarea>{{notaTerapia.observacion}}</ion-textarea>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Tipo Terapia:</ion-label>
          <p>{{notaTerapia.tipoTerapia}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Enfermero(a):</ion-label>
          <p>{{notaTerapia.nombreEnfermeraTerapia}} {{notaTerapia.apellidoEnfermeraTerapia}}</p>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Número documento enfermero(a):</ion-label>
          <p>{{notaTerapia.documentoEnfermera}}</p>
        </ion-item>
    </ion-list>

  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


</ion-content>
