<app-header title="Editar Tipo Terapia"></app-header>

<ion-content>
    <h3 class="ion-text-center"></h3>
    <div class="centrado">
      <ion-icon name="barbell-outline" style="zoom:6.0;" ></ion-icon>
    </div>
      <h3 class="ion-text-center"></h3>
      <form #f="ngForm" (ngSubmit)="actualizarTerapia()" novalidate>
        <ion-list lines="full" class="ion-no-margin ion-no-padding">
          <ion-item>
            <ion-label position="floating">Descripción tipo terapia:<ion-text color="danger">*</ion-text></ion-label>
            <ion-input required type="text" *ngFor="let terapia of terapiasDTO" name="nombresEnfermera" [(ngModel)]="terapia.nombreTerapia"></ion-input>
          </ion-item>
          
          <div class="ion-padding">
            <ion-button color="success" expand="block" type="submit" class="ion-no-margin" [disabled]="!f.valid">
                <ion-icon name="pencil-outline" slot="icon-only"></ion-icon>
               Actualizar Datos
            </ion-button>
          </div>
        </ion-list>
      </form>
      <div class="ion-text-center">
          <ion-label position="floating">
              <ion-text color="danger">*</ion-text>campos obligatorios
          </ion-label>
      </div>
</ion-content>
