<app-header title="Reportes"></app-header>

<ion-content fullscreen>
    <div class="ion-padding">
        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Terapias</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content >
                <div id="discapacidadFisicaChart" style="width:100%; height:400px;"></div>
          </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Discapacidades</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <div id="discapacidadChart" style="width:100%; height:400px;"></div>
          </ion-card-content>
        </ion-card>

        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Género de los pacientes</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div id="generosChart" style="width:100%; height:400px;"></div>
            </ion-card-content>
        </ion-card>

        <ion-card>
          <ion-card-header>
            <ion-card-subtitle>Cantidad de notas de enfermería por cada enfermera</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
                <div id="xNotasChart" style="width:100%; height:400px;"></div>
          </ion-card-content>
        </ion-card>
   
          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Cantidad de notas de terapias físicas por cada enfermera</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
                  <div id="xTerapiasChart" style="width:100%; height:400px;"></div>
            </ion-card-content>
          </ion-card>

          <ion-card>
            <ion-card-header>
              <ion-card-subtitle>Log del sistema</ion-card-subtitle>
            </ion-card-header>
            <ion-card-content>
              <div class="center">
                <ion-button (click)="goToLog()" routerDirection="forward">Revisar Log</ion-button>
              </div>
            </ion-card-content>
          </ion-card>


    </div>
</ion-content>
