
<app-header title="Nueva Nota De Enfermeria"></app-header>
<ion-content >
    <h3 class="ion-text-center"></h3>
    <form #f="ngForm" novalidate >
      <ion-list lines="full" class="ion-no-margin ion-no-padding">
        <ion-card>    
          <ion-card-header>
            <ion-card-subtitle>Datos del paciente</ion-card-subtitle>
          </ion-card-header>
          <ion-card-content>
            <ion-item>
              <ion-label position="floating">Documento Paciente:<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="number" name="numIdentiPacienteNota" [(ngModel)]="this.docPacienteBuscar"></ion-input>
            </ion-item> 
            <ion-item>
                <ion-label *ngFor="let paciente of pacientes" name="labelNombres">Nombres y apellidos paciente: {{paciente.nombrePaciente}} {{paciente.apellidoPaciente}}</ion-label>
            </ion-item>
            <div class="ion-padding">
              <ion-button color="dark" expand="block" type="submit" class="ion-no-margin" (click)="buscar()" >
                  <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                  Validar Paciente
                  </ion-button>
            </div>
          </ion-card-content>
        </ion-card>    
        <ion-card [disabled]="!validar">    
          <ion-card-content>            
            <ion-item>
              <ion-label position="floating">Número Cama:<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="number" name="numCamaNota" [(ngModel)]="this.numCama"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Número Cuarto:<ion-text color="danger">*</ion-text></ion-label>
              <ion-input required type="number" name="numCuartoNota" [(ngModel)]="this.numCuarto"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Fecha:<ion-text color="danger">*</ion-text></ion-label>
              &nbsp;
            <ion-input required type="date" dateFormat="DDD DD MMM, YYYY" name="fechaNotaP" [(ngModel)]="this.fechaNota"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="floating">Hora:<ion-text color="danger">*</ion-text></ion-label>
              &nbsp;
              <ion-input required type="time" name="horaNotaP" [(ngModel)]="this.horaNota"></ion-input>
            </ion-item>
            <ion-item>
              <ion-label position="stacked">Observación</ion-label>
              <ion-textarea placeholder="voz a texto" name="observacionNotaP" col="30" rows="10" [(ngModel)]="this.observacion"></ion-textarea>
              <div class="ion-padding">
                <ion-button color="dark" expand="block" type="submit" class="ion-no-margin">
                    <ion-icon name="mic-circle-outline" slot="icon-only"></ion-icon>
                    Grabar Nota
                    </ion-button>
              </div>
            </ion-item>
            <ion-item>
              <ion-label>Toma de signos vitales</ion-label>
              <ion-toggle slot="start" name="cherry" color="danger" checked [(ngModel)]="myvar" [checked]="myvar" (ionChange)=myMethod()></ion-toggle>
            </ion-item>
            <ion-card [disabled]="!myvar">    
              <ion-card-header>
                <ion-card-subtitle>Signos vitales</ion-card-subtitle>
              </ion-card-header>
              <ion-card-content>
                <ion-item>
                  <ion-label position="floating">Tensión arterial sistólico:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="Mm/Hg" required type="number" name="tensionSistolicoNotaP" [(ngModel)]="this.tensionSistolicoNota" min="0" max="10"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Tensión arterial diastólico:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="Mm/Hg" required type="number" name="tensionDiastolicoNotaP" [(ngModel)]="this.tensionDiastolicoNota"></ion-input>
                </ion-item>     
                <ion-item>
                  <ion-label>
                    Tension: {{tensionSistolicoNota}} / {{tensionDiastolicoNota}}
                  </ion-label>
                </ion-item>
                <ion-item>
                  <ion-label position="floating">Frecuencia cardiaca:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="x min" required type="number" name="frecuenciaCardiacaNotaP" [(ngModel)]="this.frecuenciaCardiacaNota"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Frecuencia respiratoria:<ion-text color="danger" >*</ion-text></ion-label>
                  <ion-input placeholder="x min" required type="number" name="frecuenciaRespiratoriaNotaP" [(ngModel)]="this.frecuenciaRespiratoriaNota"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Temperatura:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="T" required type="number" name="temperaturaNotaP" [(ngModel)]="this.temperaturaNota"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Saturación:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="%" required type="number" name="saturacionNotaP" [(ngModel)]="this.saturacionNota"></ion-input>
                </ion-item> 
                <ion-item>
                  <ion-label position="floating">Glucometría:<ion-text color="danger">*</ion-text></ion-label>
                  <ion-input placeholder="mg/dl" required type="number" name="glucometriaNotaP" [(ngModel)]="this.glucometriaNota"></ion-input>
                </ion-item> 
              </ion-card-content>
            </ion-card>  
            <ion-item>
              <ion-label *ngFor="let enfermera of enfermeras" name="labelNombres">Enfermer@: {{enfermera.nombre}} {{enfermera.apellido}}</ion-label>
            </ion-item>           
            <div class="ion-padding">
              <ion-button color="success" expand="block" type="submit" class="ion-no-margin" (click)="crear()"  [disabled]="!f.valid">
                  <ion-icon name="add-circle" slot="icon-only"></ion-icon>
                  Guardar Nota De Enfermeria
                  </ion-button>
            </div>
            <div class="ion-text-center">
              <ion-label position="floating">
                  <ion-text color="danger">*</ion-text>campos obligatorios
              </ion-label>
          </div>
          </ion-card-content>
        </ion-card>      
      </ion-list>
    </form>
</ion-content>

