<app-header title="Detalle Enfermera"></app-header>

<ion-content *ngIf="enfermeraDTOs">
    <h3 class="ion-text-center"></h3>
       <ion-list *ngFor ="let enfermera of enfermeraDTOs" lines="full" class="ion-no-margin ion-no-padding">
        <ion-item>
          <ion-label position="floating">Nombres y apellidos:</ion-label>
          <p>{{enfermera.nombre}} {{enfermera.apellido}}</p>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Tipo identificación:</ion-label>
            <p >{{enfermera.tipoDocumento}}</p>
          </ion-item>
        <ion-item>
            <ion-label position="floating">Número identificación:</ion-label>
            <p >{{enfermera.numeroIdentificacion}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Correo:</ion-label>
            <p >{{enfermera.correo}}</p>
          </ion-item>
          <ion-item>
            <ion-label position="floating">Genero:</ion-label>
            <p >{{enfermera.descripcionGenero}}</p>
          </ion-item>
          <ion-item>    
            <ion-label position="floating">Rol:</ion-label>
            <p >{{enfermera.descripcionRol}}</p>
          </ion-item>
          <ion-item>    
            <ion-label position="floating">Estado:</ion-label>
            <p >{{enfermera.descripcionEstadoEnfermera}}</p>
          </ion-item>
      </ion-list>

    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;


</ion-content>
