<ion-menu side="start" menuId="first" contentId="main" swipeGesture="false">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
      <ion-menu-toggle>
        <ion-item routerLink="/">
          <ion-icon name="home" slot="start"></ion-icon>
          <ion-label>Inicio</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/admin">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Notas Enfermeria</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/user">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Notas Enfermeria</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/admin-terapia">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Notas Terapias</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/user-terapia">
          <ion-icon name="newspaper-outline" slot="start"></ion-icon>
          <ion-label>Notas Terapias</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/nuevo-nota">
          <ion-icon name="medkit-outline" slot="start"></ion-icon>
          <ion-label>Nueva Nota</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/nota-terapia">
          <ion-icon name="body-outline" slot="start"></ion-icon>
          <ion-label>Nueva Nota Terapia</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/login">
          <ion-icon name="log-in" slot="start"></ion-icon>
          <ion-label>Iniciar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/registro">
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-label>Registro</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/adicionar-enfermera">
          <ion-icon name="pulse-outline" slot="start"></ion-icon>
          <ion-label>Crear Enfermera</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/paciente">
          <ion-icon name="person-add" slot="start"></ion-icon>
          <ion-label>Crear Paciente</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/reportes-user">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Reportes</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item routerLink="/reportes-admin">
          <ion-icon name="bar-chart-outline" slot="start"></ion-icon>
          <ion-label>Reportes</ion-label>
        </ion-item>
      </ion-menu-toggle>
      <ion-menu-toggle>
        <ion-item (click)="logOut()">
          <ion-icon name="log-out" slot="start"></ion-icon>
          <ion-label>Cerrar Sesión</ion-label>
        </ion-item>
      </ion-menu-toggle>
        </ion-list>
  </ion-content>