<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true">

  <div id="container" *ngIf="!isLogged">
    <strong>No se ha iniciado sesión</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
  <div id="container" *ngIf="isLogged">
    <strong>Bienvenido {{userName}}</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>
</ion-content>
