<app-header title="Inicio"></app-header>

<ion-content [fullscreen]="true">

  <div id="container" *ngIf="!ingreso">
    <strong>No se ha iniciado sesión</strong>
    </div>
  <div id="container" *ngIf="ingreso">
   <ion-content fullscreen class="ion-padding" scroll-y="false">


        <div class="slide">
          <h2>Bienvenido: {{nombre}}</h2>
          <p>
            En esta aplicación móvil podrá gestionar tareas relacionadas al cuidado de los pacientes que sufren algún tipo de discapacidad.
          </p>
        </div>


  </ion-content>
</div>

</ion-content>
